---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import InsightHook from '../components/InsightHook.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import Science from '../components/Science.astro';
import FinalCta from '../components/FinalCta.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main id="main-content" style="padding-top: 90px;">
    <Hero />
    <InsightHook />
    <HowItWorks />
    <Features />
    <Science />
    <FinalCta />
  </main>
  <Footer />
</Layout>
